<!DOCTYPE html>
<html>
  <head>
    <title>WEB page</title>
  <style>
    body {
    background-color: DarkOrange;
    }
   a{
    display: block;
    box-sizing: border-box;
    padding: 0 25px;
    height: 42px;
    line-height: 38px;
    border: 1px solid #F18230;
    border-radius: 25px;
    font-size: 14px;
    color: #FFFFFF;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #F18230;
    text-align: center;
    font-weight: 600;
}
  </style>
  </head>
  <body>
    <a href="/authors">authors<a>
    <a href="/books">books<a>
    <a href="/readers">readers<a>
    <a href="/orders">orders<a>
  </body>
</html>
