<!DOCTYPE html>
<html>
  <head>
    <title>authors</title>
  </head>
  <body>
    <h1>Readers</h1>
    <% @library.readers.uniq(&:email).each do |reader| %>
    <%= reader.email %>
    <br>
    <% end %>
    <form method="post">
      <label for="name">Name:</label>
      <br>
      <input id="name" type="text" name="name">
      <br>
      <label for="street">Street:</label>
      <br>
      <input id="street" type="text" name="street">
      <br>
      <label for="email">email:</label>
      <br>
      <input id="email" type="text" name="email">
      <br>
      <label for="city">City:</label>
      <br>
      <input id="city" type="city" name="city">
      <br>
      <label for="house">House:</label>
      <br>
      <input id="house" type="number" name="house">
      <br>
      <input type="submit" value="Save">
    </form>
    <a href="/">BACK TO MAIN</a>
  </body>
</html>
